<section class="bg-linear-to-t from-[#402800] from-1% to-primary to-60% py-10">
    <div class="relative text-white overflow-hidden">
        <div class="relative px-4 lg:px-20 lg:text-5xl xl:text-7xl text-4xl font-extrabold" >SOBRE NOSOTROS</div>
        <div class="relative ml-[20px] p-6 lg:px-30 tex-xl lg:text-2xl min-w-[50%]" >Somos una empresa familiar con mas de 40 años de trayectoria y cuatro locales repartidos por diferentes localidades en Valencia especializados en la elaboración de pollos asados. </div>
    </div>
</section>