<section class="w-full text-white py-20">
    <div class="relative px-4 lg:pl-20 md:text-5xl xl:text-7xl text-4xl font-extrabold uppercase" >¿Te has queado con dudas?</div>
    <div class="relative mt-4 sm:mt-2 px-4 lg:px-30 tex-xl lg:text-2xl min-w-[50%]" >Sientete libre de contactar con cualquiera de nuestras tiendas llamando a su número de teléfono.
      <!--   o si lo prefieres puedes escribir un correo a: <span class="text-theme-button font-bold">asados@hnosfernandezruiz.com</span> -->
    </div>
</section>