<section id="shops" class="w-full bg-[url(/images/chicken.png)] bg-cover bg-center bg-no-repeat pb-20" >
  
    <div class="relative text-white overflow-hidden">
        <div class="relative px-4 lg:px-20 pt-10 lg:text-5xl xl:text-7xl text-4xl  font-extrabold overflow-ellipsis" >DONDE ENCONTRARNOS</div>
    </div>

    
    <div class="grid grid-rows-3,auto lg:grid-cols-2  my-20 gap-10 2xl:gap-12 lg:mx-[5rem] xl:mx-[10rem] 2xl:mx-[20rem] mx-5">
        
        <div class="bg-theme-contact-background rounded-xl col-span-1 lg:col-span-2 max-h-fit pb-10 p-2 px-10 sm:px-0 md:px-0 lg:px-0 xl:px-0 2xl:px-0">
            <div class="flex flex-col items-center content-center font-extrabold text-white text-4xl -translate-y-7 ">TORRENT</div>

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid:cols-2 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-2 grid-rows-1 gap-10 w-[3000px]]">

                <div class="flex flex-col items-center content-center col-span-1 mt-10 sm:mr-10 md:mr-10 sm:ml-10 md:ml-10 2xl:ml-12" >
                    <div>
                        <div class="font-bold text-2xl text-white mt-6 ">C. José Iturbi 10</div>
                        <div class="font-bold text-2xl text-white">tlf: 961 290 180</div>
                    </div>
                    <a href="/tiendas/iturbi"class="font-semibold text-md mt-4 py-2 px-4 rounded-[6px] text-white border-2 border-white w-fit hover:bg-white hover:text-black transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">Mas información</a>
                </div>

                <div class="flex flex-col items-center  content-center col-span-1 mt-10 sm:mr-10 md:mr-10 sm:ml-10 md:ml-10 2xl:ml-12" >
                    <div>
                        <div class="font-bold text-2xl text-white mt-6 "> C. San Fermín 1</div>
                        <div class="font-bold text-2xl text-white">tlf: 961 575 412</div>
                    </div>
                    <a href="/tiendas/san-fermin"class="font-semibold text-md mt-4 py-2 px-4 rounded-[6px] text-white border-2 border-white w-fit hover:bg-white hover:text-black transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">Mas información</a>
                </div>
              
            </div>

        </div>
        
        <div class="flex flex-col items-center content-center bg-theme-contact-background rounded-xl col-span-1 max-h-fit pb-10">
            <div class="flex flex-col items-center text-center content-center font-extrabold text-white text-4xl -translate-y-7">ALAQUÀS</div>
            <div>
                <div class="font-bold text-2xl text-white mt-10">Av. Blasco Ibañez 25</div>
                <div class="font-bold text-2xl text-white">tlf: 961 506 013</div>
            </div>
            <a href="/tiendas/alaquas"class="font-semibold text-md mt-4 py-2 px-4 rounded-[6px] text-white border-2 border-white w-fit hover:bg-white hover:text-black transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">Mas información</a>
        </div>

        <div class="flex flex-col items-center content-center bg-theme-contact-background rounded-xl col-span-1 max-h-fit pb-10">
            <div class="flex flex-col items-center text-center content-center font-extrabold text-white text-4xl -translate-y-7">PICAÑA</div>
            <div>
                <div class="font-bold text-2xl text-white mt-10">Pl. Del pais Valencià 1</div>
                <div class="font-bold text-2xl text-white">tlf: 961 592 535</div>
                
            </div>
            <a href="/tiendas/picaña"class="font-semibold text-md mt-4 py-2 px-4 rounded-[6px] text-white border-2 border-white w-fit hover:bg-white hover:text-black transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">Mas información</a>
        </div>

    </div>
    
</section>
