<section id="products" class="max-w-full bg-linear-to-b from-[#402800] from-0% to-primary to-60%  pt-20 pb-10">
    <div class="relative text-white overflow-hidden">
        <div class="relative px-4 lg:pl-20 md:text-5xl xl:text-7xl text-4xl font-extrabold uppercase" >Descubre nuestros productos</div>
        <div class="relative mt-4 sm:mt-2 px-4 lg:px-30 tex-xl lg:text-2xl min-w-[50%]" >El pollo asado es nuestra especialidad pero no todo queda ahí. </div>

    </div>

    <div class="relative max-w-full pt-10 sm:pt-16 flex flex-col items-center justify-center">
        <div class="grid grid-cols-1 lg:grid-cols-2 grid-rows-4 lg:grid-rows-2 gap-6 md:max-w-[90%] xl:max-w-[70%] mx-6">
            <div class="flex flex-col items-center col-span-1 lg:mx-0">
                <div class="relative z-30  h-fit text-white font-bold text-2xl md:text-3xl  lg:text-4xl overflow-hidden translate-y-4  uppercase">Costillas barbacoa</div>
                    <div class="relative">
                        <div class=" rounded-[6px] absolute bg-black z-20 opacity-40 transition duration-300 ease-in-out hover:opacity-0 w-full h-full"></div>
                        <img class=" rounded-[6px] max-w-full z-30" src="/images/product-1.png" alt=""/>
                    </div>
            </div>
            <div class="flex flex-col items-center col-span-1 lg:mx-0">
                <div class="relative z-30 px-6 text-white font-bold text-2xl md:text-3xl lg:text-4xl overflow-hidden translate-y-4 drop-shadow-xl uppercase">Secreto asado</div>
                <div class="relative">
                    <div class=" rounded-[6px] absolute  bg-black z-20 opacity-40 transition duration-300 ease-in-out hover:opacity-0 w-full h-full"></div>
                    <img class=" rounded-[6px] max-w-full z-30" src="/images/product-2.png" alt="">
                </div>
                
            </div>
            <div class="flex flex-col items-center col-span-1 lg:mx-0">
                <div class="relative z-30 px-6 text-white font-bold text-2xl md:text-3xl lg:text-4xl overflow-hidden translate-y-4 drop-shadow-xl uppercase">Croquetas</div>
                <div class="relative">
                    <div class=" rounded-[6px] absolute bg-black z-20 opacity-40 transition duration-300 ease-in-out hover:opacity-0 w-full h-full"></div>
                    <img class=" rounded-[6px] max-w-full z-30" src="/images/product-4.png" alt="">
                </div>
                    
            </div>
            <div class="flex flex-col items-center col-span-1 lg:mx-0">
                <div class="relative z-30 px-6 text-white font-bold text-2xl md:text-3xl lg:text-4xl overflow-hidden translate-y-4 drop-shadow-xl uppercase">Alcachofas</div>
                <div class="relative">
                    <div class=" rounded-[6px] absolute bg-black z-20 opacity-40 transition duration-300 ease-in-out hover:opacity-0 w-full h-full"></div>
                    <img class=" rounded-[6px] max-w-full z-30" src="/images/product-3.png" alt="">
                </div>
                
            </div>
        </div>
    </div>

    <div class="relative max-w-full mt-6 md:mt-14 flex flex-col items-center justify-center ">
        <div class="text-4xl font-semibold bg-linear-75 from-[#f1bc60] to-[#865501] bg-clip-text text-transparent">Y mucho mas ...</div>
    </div>

</section>